*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  /* estilos del scroll */
  body::-webkit-scrollbar{
      width: 10px;
      background: rgba(51, 102, 147, 0.3);
  }
  body::-webkit-scrollbar-track{
      box-shadow: inset 0 0 10px #000;
      border-radius: 5px;    
  }
  body::-webkit-scrollbar-thumb{
      background: rgba(0, 0, 0, .4);
      background: linear-gradient(140deg,#18181a, #c03535);
      border-radius: 5px; 
  }
  body::-webkit-scrollbar-thumb:hover{
      background: linear-gradient(95deg,red, rgb(30, 30, 112));
  }
  /*estilo principales para todo el archivo  */
  body{
      background-color: rgb(0, 0, 0); 
      color: white;
      overflow-x: hidden;
      
  }
  /* estilos para el video de la cabecera */
  .caja{
      position: relative;
      width: 100vw;
      
    
  }
 .caja__titulo{
   width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
   align-items: center;
  
    font-family: 'Joan', serif;
    background: #000;
    letter-spacing: 50px;
    font-size: 145px;
    font-weight: 900;
    margin-top: 20px;
    mix-blend-mode: multiply;
  }

  .caja__video{
      position: absolute;
      width: 100%;
      
      height: 100%;
      object-fit: cover;
  }
  

  /* fin de la cabecera */

  /* barra de la navegacion */
  
  .caja__ul {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 100%;
     height: 300px;
     list-style: none;
     font-size: 25px;
     letter-spacing: 3px;
     
  }

  .caja__ul .caja__enlace{
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    transition: all 1s ease;
  }
  .caja__ul .caja__enlace:hover{
      background-color: #f23636;
      color: #18181a;
      width: 100%;
      font-weight: 500;
      border-bottom: 2px solid azure;
     
      
  }
/* fin de estilos de la barra de navegacion */

  /* estilos para los articulos principales */
  .contend{
    width: 100%;
    height:  700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
    letter-spacing: 1px;
    line-height: 32px;

  }
  .contend-altura{
    height: 750px;
  }
  .contend__trailer{
    width: 100%;
    max-width: 600px;
    margin-left: 20px;   
    border-radius: 20px;
    transition: all 1s ease;
  }
  .contend__trailer:hover{
    box-shadow: 0px 0px 20px  red;
    cursor: pointer;
  }
  .titulo-text{ 
    display: inline-block;
    margin-left: 40%;
    letter-spacing: 5px;
    font-size: 55px;
    transition: all 1s ease;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .titulo-text:hover{
    color: #ff0040;
    cursor: pointer;
    box-shadow: 0 0 50px red; 
    
   
  }
  
  .contend__subtitulo{
    margin-left: 58px;
    font-size: 30px;
    display: inline;
   
  }
  .contend__subtitulo:hover{
    color: #c03535;
    cursor: pointer;
    transition: all 1s ease;
  }

  .contend__parrafo{
    width: 700px;
    margin: 40px;
    padding-left: 20px;
    font-size: 18px;
  }

  .contend__link{
    display: block;
    width: 25%;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    background-color: gray;
    transition: all 1s ease;
  }
  
  .contend__link:hover{
    background-color: #ff0040;
    font-size: 20px;
  }
.contend__lista{
  width: 600px;
  font-size: 20px;
}
.contend__lista > li{
  margin: 20px;
  letter-spacing: 1px;
  line-height: 40px;
}

.main__imagen{
  width: 45%;
  border-radius: 45px;
  margin: 20px;
 
}
.main__imagen:hover{
  box-shadow: 0px 0px 20px  red;
  cursor: pointer;
  transition: all 1s ease;
}
.main__image{
  width: 200px;
}
.icon-checkbox-checked{
  transition: all 1s ease;
}
.icon-checkbox-checked:hover {
  color: #4dc247;
  cursor: pointer;
}
.img{
  width: 25%;
  margin-left: 92px;
  border-radius: 40px;
 
}
.img:hover{
  box-shadow: 0px 0px 20px  red;
  cursor: pointer;
  transition: all 1s ease;
}
.parrafo{
  margin-left: 20%;
}
.main__subtitulo{
     font-size: 25px;
     margin-left: 22%;
     width: 800px;
     display: inline-block;

}

 .main__subtitulo:hover{
      color: #c03535;
      cursor: pointer;
      transition: all 1s ease;
}

.img-contend{
  border-radius: 30px;
  width: 300px;
  margin-left: 100px;
  
}
.img-contend:hover{
  box-shadow: 0px 0px 20px  red;
  cursor: pointer;
  transition: all 1s ease;
  
}
.div-img{
  width: 40%;
}
/* logo para página dos */
.logo{
 
 
  display: flex;
  align-items: center;
  font-family: 'Domine', serif;
}
.logo-text{
  color: transparent;
  
  text-align: center;
  color:transparent;
  margin-top: 80px;
  font-size: 200px;
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  background-image: url('../imagenes/control-historia2.jpg');
  background-position-y:center;
  background-clip: text;
  -webkit-background-clip: text;
}
.director{
  width: 20%;
  
}

.casper{
  width: 35%;
}
.max{
  margin-top: 190px;
}

.maxx{
  height: 800px;
}

.enlace__informacion{
  display: flex;
  width: 60%;
  border-radius:25px ;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 20px;
  margin-left: 50px;
  
}
.enlace__informacion:hover{
  background: linear-gradient(to right bottom,red, #405DE6,#5851DB,#833AB4,#C13584);
  background-size: 200% 300%;
  animation: insta 4.5s ease infinite;
}
/* fin de estilos para página dos */

  /* estilos para el pie de página */


  .redes{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c62222' fill-opacity='0.39'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    animation: move 15s ease infinite;
  }
  .redes > a{
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
    letter-spacing: 3px;
    border-radius: 20px;
    transition: all 1s ease;
   
  }

  @keyframes gradient {
    20% {
      background-position: 20% 30%;
    }
    50%{
      background-position: 50% 100%;
    }
    80%{
      background-position: 100% 80%;
    }
  } 

 
  .redes__facebook:hover{
    background-color: #3b5998;
    
  }
  
  .redes__instagram:hover{
   background: linear-gradient(to right bottom, #405DE6,#5851DB,#833AB4,#C13584,#E1306C,#FD1D1D);
   background-size: 100% 300%;
   animation: insta 3s ease  infinite;
  }
  @keyframes insta{
    20%{
      background-position: 20% 30%;
    }
    50%{
      background-position: 50% 80%;
    }
    80%{
      background-position: 100% 80%;
    }
  }
  
 
  .redes__whatsapp:hover{
    background-color: #4dc247;
  }
 
  .redes__telegram:hover{
    background-color: #0088cc;
  }
  
  .redes__twiter:hover{
     background-color: #3490d6;
  }
  
  .redes__email:hover{
    background-color: #db4a39;
  }
  .redes__github:hover{
    background-color: #5b5959;
  }
   .redes__copy{
    position: absolute;
    right: 0;
    margin-top: 5em;
    margin-right: 21px;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }
 
  @keyframes move {
    10%{
        background-position: 20% 30%;
    }
   
    50%{
        background-position: 60% 80%;
    }
  }
  

 /* responsive */
 @media screen and (max-width: 1365px) {
  .caja__titulo{
     
    letter-spacing: normal;
    
   }
   .main__subtitulo{
    display: inline ;
   }
    
 }

   
  
      
      
   
 @media screen and (max-width: 1263px){
  .caja__ul{
    flex-wrap: wrap;
  }
  .redes{
    flex-wrap: wrap;
    
  }
  .contend{
    flex-direction: column;
  }
  .logo-text{
    font-size: 80px;
  }
  .dlc{
    height: 150vh;
  }
 }
 @media screen and (max-width: 1250px) {
  .img{
     order: 1;
     width: 20%;
  }
 
  }
 
 @media screen and (max-width: 800px) {
  .caja__titulo{
    
    font-size: 4em;
  }
  .contend{
    height: 800px;
  }
  .parrafo{
    width: 70%;
  }

  .maximooo{
    height: 200vh;
   
  }
 }
 @media screen and (max-width: 700px) {
  .titulo-text{
    margin: 0;
    margin-left: 25%;
  }
  .contend__parrafo{
  
    width: 70%;
    margin-left: 50px;
  }
  .contend__link{
   
    width: 100%;
  }
  .contend__video{
    width: 80%;
  }
  .parrafo{
    margin-left: 15%;
    font-size: 15px;
    width: 400px;
   
  }
  .contend-tamaño{
    height: 150vh;
  }
  .main__subtitulo{
   font-size: 20px;
   margin: 0;
   
  }
  .main__imagen{
    width: 80%;
  }
  .img{
    width: 30%;
  }
  .logo-text{
    margin: 0;
    margin-top: 60px;
    font-size: 60px;
  }
  
  .img-contend{
    width: 70%;
  }
  .contenedor-dos{
    height: 150vh;
  }
 }


 @media screen and (max-width: 600px){
  .caja__ul {
    flex-direction: column;
    width: 100VW;
    height: 30em;
    padding: 0.1px;
    
    
   }

   .contend__lista li{
    font-size: 14px;
    
   }
  .caja__enlace{
    
   width: 100vw;
   
   }
   .caja__enlace:hover{
      color: white !important;
   }

   .titulo-text{
   
    margin: 0 ;
    margin-left: 20%;
   }
   .redes{
    height: 100%;
   }
   
   .contend__video{
    width: 80%;
   margin-top: 50%;
   }
   .contend__subtitulo{
    display: inline-block;
    margin-top: 20%;
   }
  .main__imagen{
    width: 80%;
  }
  .main__subtitulo{
    width: 50%;
  }
  .evadir-class{
    margin-left: 20%;
  }
 }
@media screen and (max-width: 500px) {
  .img{
    width: 40%;
  }
  .zac{
   height: 200vh;
  }
  .dlc{
    height: 150vh;
  }
  .enlace__informacion{
    width: 100%;
  }
  .contenedor-dos{
    height: 250vh;
  }
  .maximooo{
    flex-wrap: wrap;
   
  }
}

 @media screen and (max-width: 400px) {
 
  .caja__titulo{
    margin-top: 20%;
    height: 110px;
    font-size: 2.2em;
  }
  .titulo-text{
   
    font-size: 25px;
  }
  .redes{
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
  }
  .contend__video{
    margin-left: 20px;
  
  }

  .main__subtitulo{
    display: block;
   font-size: 25px;
   margin: 20px;
   margin-top: 80%;
   width: 100%;
  
  }
  .parrafo{
    width: 80%;
  }
  .contend-tamaño{
    height: 200vh;
  }
  .img-contend{
    width: 60%;
  }
  .logo-text{
    text-align: center;
    font-size: 25px;
  }
  .pequeño .div-img{
    margin: 50px;
  }
  .main__imagen{
    width: 80%;
  }
  .contend__subtitulo{
    margin-top: -180px;
  }
  .contend__lista li{
   
    font-size: 10px;
    
   }
  
 }

 @media screen and (max-width: 300px) {
  .caja__ul{
    align-items: flex-start;
    
  }
  .contend__video{
    margin-top: 200%;
    margin-right: 40px;
  }
  .contend__subtitulo{
    margin-top: 280%;
  }
  .contend-minimo{
    margin-top: 0;
  }
  .main__imagen{
    width: 100%;

  }
  .minimo{
    margin-top: 150%;
  }
  .main__subtitulo{
    margin-top: 350%;
    font-size: 15px;
  }
  .pequeño{
   height: 350vh;
  }
  .contenedor{
    margin-top: 120vh;
  }
  .margen{
    margin: 0;
  }
 }